

body {
    background:#222;
    color: #d7d7d7;
    font-size: 30px;
    padding:75px;
    font-family: "Brandon Grotesque", sans-serif;
    line-height:2em;
}
body * {
    margin: 7px;
    font-weight: 500;
}
a {
    color: #fff;
    text-decoration: none;
}
.fa-twitter { color: #1DA1F2}
.fa-telegram-plane { color: #0088CC}

h1 {
    font-weight: 900;
    color: #C11562;
    background: -webkit-linear-gradient(#EC1628, #C11562);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#emailHeader, #linkHeader {
    margin-bottom: -0.5em;
}
#emailHeader {
    margin-top: -0.5em;
}