@use "common/util";
@use "./common/window.scss";
@use "./common/nav.scss";
@use "./common/linkBtn.scss";
@use "./common/button.scss";
@use "sass:color";

@function bgGradient($color, $size, $x, $y, $color2: transparent) {
  @return repeating-radial-gradient(
    farthest-corner at calc(50% - $x) calc(50% - $y),
    $color,
    $color2 $size,
    $color ($size * 2)
  );
}

:root {
  color-scheme: light dark;
  --border: light-dark(#ccc, #333);
}


body {
  background-image:
    light-dark(
      url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect width="98" height="98" fill="white" fill-opacity="0.9"/><rect width="100" height="100" fill="white" fill-opacity="0.4"/></svg>'),
      url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect width="98" height="98" fill="black" fill-opacity="0.7"/><rect width="100" height="100" fill="black" fill-opacity="0.7"/></svg>')
    ),
    bgGradient(#ff0320c6, 900px, 1291px, 928px),
    bgGradient(#f3035080, 723px, 863px, 825px),
    bgGradient(#9300b8c6, 598px, 844px, 944px),
    bgGradient(#d940ff, 2028px, 370px, 153px, #490369);
  // background-image: url("/assets/img36.jpg");
  // background: white;
  // background: black;
  background-size:
    100px,
    cover,
    cover cover,
    cover;
  background-position: center;
  background-attachment: fixed;
  // background-size: cover;

  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: util.$grotesk;
}

#root {
  $padding: 12px;
  display: grid;
  grid-template-columns: 1fr min(1022px, calc(100% - $padding * 2)) 1fr;
  gap: $padding;
  padding-bottom: $padding;
  > .content-row {
    grid-column: 2 / 3;
    &:not(.slim) {
      padding: 4px;

    }
  }
}

button, input, select {
  font: inherit;
}

.prose {
  padding-inline: 0.75rem;
  hr {
    margin-inline: -0.75rem;
  }
  pre {
    overflow-x: auto;
    max-width: 100%;
  }

}

hr {
  border: 1px solid var(--border);
}
a {
  color: inherit;
}

area {
  cursor: pointer;
}


.input {
  height: 1.375rem;
  padding-inline: 5px;
  border-radius: 2px;
  font-size: 14px;
  overflow-x: auto;
  border: 1px solid lightInvert(#e2e3ea);
  border-top-color: lightInvert(#abadb3);
  border-bottom-color: lightInvert(#e3e9ef);
  display: flex;
  &:hover {
    border-color: lightInvert(#c5daed);
    border-top-color: lightInvert(#5794bf);
    border-bottom-color: lightInvert(#bbd5e3);
  }
  &:focus-within {
    border-color: lightInvert(#b5cfe7);
    border-top-color: lightInvert(#3d7bad);
    border-bottom-color: lightInvert(#b7d9ed);
  }
  input {
    background: transparent;
    border: 0px;
    flex-grow: 1;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}

table {
  &.vertical {
    th {
      text-align: left;
    }
  }

}

.introductoryText {
  font-style: italic;
  margin-inline: 1.5em;
  margin-block: 0.7em;
}

.faint {
  opacity: 0.6;
  font-size: 50%;
}

.has-hovertext {
  text-decoration: underline;
  text-decoration-style: dashed;
}



@supports (display: grid) { 
  #oldBrowser {
    display: none;
  }
}