@use "./util.scss";

#hero {
    display: grid;
    grid-template-columns: 57fr 43fr;
    grid-template-rows: 1fr;
    > img {
        width: 100%;
        height: auto;
        min-height: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background: #768289;
        background-image: linear-gradient(to right, #8c9194, #7a8389, #235358, #041522);
        

    }
    > .content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 36px;
        padding-right: 0px;
        font-family: util.$grotesk;
        display: flex;
        flex-direction: column;
        > .title {
            color: #000;
            flex-grow: 1;
            text-shadow: 0px 0px 16px #fffa;
            h2 {
                font-size: 64px;
                line-height: 0.9em;
                margin: 0;
                
            }
            p {
                font-size: 20px;
                margin: 0;
                margin-top: 0.5rem;
                color: #000b;
                font-weight: 500;

            }
            i {
                font-family: util.$mono;
            }
        }   
    }
}

#bigbutton {
    padding-block: 12px;
    padding-inline: 16px;
    gap: 16px;
    color: #fff;
    background: linear-gradient(to bottom, #06B6D4, #0369A1);
    border: 1px solid #048DB9;
    border-radius: 4px;
    font-family: util.$grotesk;
    font-size: 24px;
    display: flex;
    min-width: 300px;
    width: max-content;
    cursor: pointer;
    align-items: center;
    text-shadow: 0px 1px 0px #333;
    box-shadow: 0px 4px 6px -1px #00000080, 0px 2px 4px -1px #00000040;
    > .text {
        display: flex;
        flex-direction: column;
        text-align: left;
        > b {
            font-weight: bold;
            
        }
        > span {
            font-size: 14px;
            opacity: 70%;
        }
    }

    &:hover {
        background: linear-gradient(to bottom, #0891b2, #075985);
        border: 1px solid #317198;
        color: #eee;
    }

    &:active {
        background: linear-gradient(to bottom, #0369A1, #075985);
        border: 1px solid #046092;
        color: #eee;
        box-shadow: 0px 2px 3px -1px #00000080, 0px 1px 2px -1px #00000040;
    }

}