@use "./util.scss";
@use "./window.scss";
@use "./hero.scss";
@use "./fursona.scss";
@use "./contacts.scss";
@use "sass:color";

@function bgGradient($color, $size, $x, $y, $color2: transparent) {
  @return repeating-radial-gradient(
    farthest-corner at calc(50% - $x) calc(50% - $y),
    $color,
    $color2 $size,
    $color ($size * 2)
  );
}

:root {
  color-scheme: light dark;
}

body {
  background-image:
    light-dark(
      url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect width="98" height="98" fill="white" fill-opacity="0.9"/><rect width="100" height="100" fill="white" fill-opacity="0.4"/></svg>'),
      url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect width="98" height="98" fill="black" fill-opacity="0.7"/><rect width="100" height="100" fill="black" fill-opacity="0.7"/></svg>')
    ),
    bgGradient(#ff0320c6, 900px, 1291px, 928px),
    bgGradient(#f3035080, 723px, 863px, 825px),
    bgGradient(#9300b8c6, 598px, 844px, 944px),
    bgGradient(#d940ff, 2028px, 370px, 153px, #490369);
  // background-image: url("/assets/img36.jpg");
  // background: white;
  // background: black;
  background-size:
    100px,
    cover,
    cover cover,
    cover;
  background-position: center;
  background-attachment: fixed;
  // background-size: cover;

  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: util.$grotesk;
}

#root {
  display: grid;
  grid-template-columns: 1fr min(1022px, 100%) 1fr;
  max-width: 100%;
  gap: 12px;
  > .content-row {
    grid-column: 2 / 3;
    padding: 4px;
  }
}

.brand {
  margin-block: 0.75rem;
  margin-inline: 0.75rem;
  h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 0;
    margin-left: -0.125rem;
    .mono {
      margin-right: 0.05em;
      letter-spacing: -0.06em;
    }
  }
  > .tagline {
    margin: 0;
    font-size: 1.9rem;
    line-height: 1em;
    margin-left: 0.12rem;
    > .ip {
      background-image: linear-gradient(to bottom, #bd1693, #570a44);
      background-clip: text;
      color: transparent;
      font-weight: 500;
      -webkit-text-stroke: 1px #ffffff4a;
      transform: translateY(1px);
    }
  }
}

.prose {
  padding-inline: 0.75rem;
  hr {
    margin-inline: -0.75rem;
  }
}

hr {
  border: 1px solid light-dark(#ccc, #333);
}
a {
  color: inherit;
}

area {
  cursor: pointer;
}

@function lightInvert($color) {
  @return light-dark($color, color.complement(color.invert($color)));
}

.input {
  height: 1.375rem;
  padding-inline: 5px;
  border-radius: 2px;
  font-size: 14px;
  overflow-x: auto;
  border: 1px solid lightInvert(#e2e3ea);
  border-top-color: lightInvert(#abadb3);
  border-bottom-color: lightInvert(#e3e9ef);
  display: flex;
  &:hover {
    border-color: lightInvert(#c5daed);
    border-top-color: lightInvert(#5794bf);
    border-bottom-color: lightInvert(#bbd5e3);
  }
  &:focus-within {
    border-color: lightInvert(#b5cfe7);
    border-top-color: lightInvert(#3d7bad);
    border-bottom-color: lightInvert(#b7d9ed);
  }
  input {
    background: transparent;
    border: 0px;
    flex-grow: 1;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}

$px: 1em/12;
.linkBtn {
  text-decoration: none;
  margin: 1px;

  border: 1px solid transparent;
  box-shadow: 0 0 0 1px transparent;
  border-radius: 3px;
  font-size: 18px;
  display: block;
  width: fit-content;

  > .content {
    display: flex;
    align-items: center;
    > img {
      width: $px * 16;
      height: $px * 16;
    }
    > .text {
      margin-top: -$px;
      margin-bottom: $px;
      padding-inline: $px * 5;
    }
  }

  &:hover:not(:active) {
    background-image: linear-gradient(
      to bottom,
      #ffffff80 0%,
      #c5c5c531 50%,
      #6464642b 50%,
      #dadada15 100%
    );
    border: 1px solid #ffffff7d;
    box-shadow: 0 0 0 1px #0000004d;
  }
  &:active {
    background: light-dark(#00000012, black);
    border-left-color: light-dark(#43434357, black);
    border-top-color: light-dark(#43434357, black);
    box-shadow:
      0 0 0 1px #000000a6,
      inset 1px 1px #34343427;
    > .content {
      transform: translate(1px, 1px);
      > .text {
        opacity: 80%;
      }
    }
  }
}


.spinBtn {
  border: $px solid #9B9DA3;
  outline: 1px solid white;
  box-shadow: inset 0 0 0 $px #F9F9F9;
  background-image: linear-gradient(to bottom, #F2F2F2, #E8E8E8 50%, #DBDBDB 50%, #D1D1D1);
  margin: 1px;
  padding: $px;
  display: inline-flex;
  width: fit-content;
  color: black;
  text-decoration: none;
  padding-inline: 0.25em;
  &:hover {
    border-color: #3C7FB1;
    box-shadow: inset 0 0 0 $px #EEF8FE;
    background-image: linear-gradient(to bottom, #E8F6FD, #D2EDFC 50%, #BAE5FB 50%, #A9DBF5);
    
  }
  &:active {
    border-color: #2C628B;
    background-image: linear-gradient(to bottom, #C3E4F6, #C3E4F6 50%, #AAD9F3 50%, #92CCEB);
    box-shadow: inset $px $px 2*$px #EEF8FE, ;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: $px*2;
    padding-top: $px*2;
  }
  // &.groupedRight, &.grouped {
  //   margin-right: 0;
  // }
  // &.groupedLeft, &.grouped {
  //   margin-left: 0;
  // }
}

.webring {
  display: flex;
}

.webrings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block: 0.675em;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block: 0.675em;
}