@use "./common/syntax-highlighting.scss";

#postTitle {
    margin-block-end: 0.25em;
}

#postMeta {
    margin-block-start: 0;
}

@keyframes footnote-highlight {
    from {
        background: transparent;
    }
    20% {
        background: light-dark(rgba(230, 93, 202,1), rgba(163,13,134,1));
    }
    to {
        background: light-dark(rgba(230, 93, 202,0.2), rgba(163,13,134,0.2));
    }
}

.footnote-item:target {
    animation: 2s footnote-highlight forwards;
}

.footnote-ref a:target::after {
    content: ".";
    border-radius: 100%;
    font-size: 0;
    width:20px;
    height: 20px;
    margin-left: -20px;
    background: light-dark(rgba(230, 93, 202,1), rgba(163,13,134,1));

    display: inline-block;
    left: 0;
    top: 0;
    animation: 2s footnote-ref-highlight forwards;

}

@keyframes footnote-ref-highlight {
    10% {
        transform: scale(5);
        opacity: 1;
    }
    0%, 100% {
        transform: scale(1);
        opacity: 0;
    }
}
