
@mixin fill {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

@function bgGradient($color, $size, $x, $y, $color2: transparent) {
  @return repeating-radial-gradient(farthest-corner at calc(50% - $x) calc(50% - $y), $color, $color2 $size, $color ($size * 2));
}

$fontStackFallback: 'Brandon Grotesque', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
$grotesk: 'Space Grotesk', 'Space Mono', $fontStackFallback;
$mono: 'Space Mono', 'Space Grotesk', $fontStackFallback;
.grotesk { font-family: $grotesk; }
.mono { font-family: $mono; }

body {
    background-image:
        url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect width="98" height="98" fill="white" fill-opacity="0.9"/><rect width="100" height="100" fill="white" fill-opacity="0.4"/></svg>'),
        bgGradient(#ff0320c6, 900px, 1291px, 928px),
        bgGradient(#F3035080, 723px, 863px, 825px),
        bgGradient(#9300b8c6, 598px, 844px, 944px),
        bgGradient(#D940FF, 2028px, 370px, 153px, #490369);
    // background-image: linear-gradient(to right, black 50%, white 50%);
    // background: white;
    // background: black;
    background-size: 100px, cover, cover cover, cover;
    background-position: center;
    background-attachment: fixed;

    
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $grotesk;
}

.content {
    display: grid;
    grid-template-columns: 1fr min(1024px, 100%) 1fr;
    max-width: 100%;
    > .content-row {
        grid-column: 2 / 3;
        padding: 4px;
    }
}

.brand {
    margin-block: 0.75rem;
    margin-inline: 0.75rem;
    h1 {
        > img {
            height: 6.06rem;
        }
        margin: 0;
        line-height: 0;
    }
    > .tagline {
        margin: 0;
        font-size: 1.95rem;
        line-height: 1em;
        margin-left: 0.12rem;
        > .ip {
            background-image: linear-gradient(to bottom, #BD1693, #570A44);
            background-clip: text;
            color: transparent;
            font-weight: 500;
            -webkit-text-stroke: 1px #FFFFFF4A;
            transform: translateY(1px);
        }

    }
}

.window {
    padding:4px;
    display: grid;
    padding-top: 0px;
    grid-template-columns: 1fr 95px;
    grid-template-rows: 0px 16px 1fr;
    grid-template-areas: 
        ".        controls"
        "titlebar controls"
        "client   client";
    row-gap: 4px;
    background: #A30D8646;
    background-image: url(./reflection.png);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(3px);
    border-radius: 6px;
    border: 1px solid #ffffffb7;
    --window-shadow: 0px 0px 7px 0px #000000;
    box-shadow: 
        0px 0px 0px 1px #03070BC6,
        var(--window-shadow);
    
    font-family: 'Segoe UI', sans-serif;
    color: #434e54;
    &.focused {
        border-bottom-color: #2cd3fe;
        border-right-color: #2cd3fe;
        --window-shadow: 1px 1px 11px 0px #000000;
        color: #000;
    }

    &.closed {
        animation: close .1s ease-in-out;
        transform-origin: bottom left;
    }
    
    > .controls {
        grid-area: controls;
    }
    > .titlebar {
        grid-area: titlebar;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-inline: 2px;
        position: relative;
        > .icon {
            z-index: 2;
        }
        > .caption {
            z-index: 1;
            font-size: 12.5px;
            margin-top: -2px;

            position: relative;
            &:before {
                content: " ";
                
                left: -15px;
                top: -3px;
                width: 100%;
                position: absolute;
                z-index: -1;

                border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='100'><path fill='url(%23a)' d='M0 0h200v100H0z'/><defs><radialGradient id='a'><stop offset='0.1' stop-color='%23fff' stop-opacity='.7'/><stop offset='0.6' stop-color='%23fff' stop-opacity='.2'/><stop offset='1' stop-color='%23fff' stop-opacity='0'/></radialGradient></defs></svg>");
                border-image-slice: 49 99 fill;
                border-image-repeat: stretch;
                border-image-width: auto 100px;
                border-block-width: 12.5px;
                border-inline-width: 15px;
                border-style: solid;

            }
        }
    }
    > .clientarea {
        @include fill;
        grid-area: client;
        .panelborder {
            @include fill;
            margin: 1px;
            box-shadow: 0 0 0 1px #ffffff8c;
            border-radius: 2px;
            border: 1px solid #03070b98;
            .panel {
                background: #fff;
            }
        }
    }

}
@keyframes close {
    to {
        transform: scale(0.8) skew(-2.5deg, -2.5deg);
        opacity: 0;
    }
}
@keyframes move {
    from {
        left: 100px;
    }
    to {
        left: 100vw;
    }
}
